{
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": false,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "useTabs": true,
  "tabWidth": 2
}
